.uidc-component.video-results .video-panel {
  margin-bottom: 20px; }
  .uidc-component.video-results .video-panel .upper-panel img {
    width: 100%; }
  .uidc-component.video-results .video-panel .inner-panel {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 4px 0px #CCC;
    padding: 10px 15px; }
    .uidc-component.video-results .video-panel .inner-panel .foot-panel {
      bottom: 0;
      padding: 0 0 10px 0;
      position: absolute; }

@media only screen and (max-width: 767px) {
  .uidc-component.video-results .video-panel .inner-panel .foot-panel {
    position: inherit; } }
/* Disable vertilizer on mobile*/
@media (max-width: 767px) {
  *[vertilize] {
    height: auto !important; } }

/*# sourceMappingURL=style.css.map */
