<!DOCTYPE html>
<!--if lt IE 7html.no-js.lt-ie9.lt-ie8.lt-ie7  
-->
<!--if IE 7html.no-js.lt-ie9.lt-ie8  
-->
<!--if IE 8html.no-js.lt-ie9  
-->
<!-- [if gt IE 8] <!-->
<html class="no-js">
<!-- <![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>EQUALIZE HEIGHT</title>	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="uidc">
	<div class="container">
		<div class="uidc-component video-results" ng-controller="videoResults"> 				
			<div class="row" vertilize-container>				
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 video-panel" ng-repeat="result in results">
					<div class="upper-panel">
						<a href="#"><img ng-src="{{result.image}}"></a>
					</div>
					<div class="inner-panel" vertilize>
						<p>{{result.label}}</p>
						<h2>{{result.title}}</h2>
						<p>{{result.excerpt}}</p>
						<div class="foot-panel">
							<a href="#" ng-if="result.started">Started</a>
							<a href="#" ng-if="!result.started">Not Started</a>
							<span>|</span>
							<a href="#">{{result.time}} hours</a>
						</div>
					</div>
				</div>			
			</div>
		</div>
	</div> <!-- /container -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>     	
	<script src="libs/angular/angular.js"></script>	
	<script src="js/app.js"></script>
	<script src="js/uidc.equalize.js"></script>
</body>
</html>